{% extends 'master.html' %}
{% load static %}
{% block content%}
<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Manage Delivery</h2>
                </div>
            </div>
        </div>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% if Delivery.name %}
           <form  method="post">
        {% else %}    
        <form  method="post">
        {% endif %}

             {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" placeholder="County" name="county" value="{{Delivery.county}}" >
                    {% if form.name.errors %}
                        <div style="color:red;">
                            {{ form.name.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <input type="number"  name="delivery_fee" placeholder="delivery fee" value="{{Delivery.delivery_fee}}">
                    {% if form.image.errors %}
                        <div style="color:red;">
                            {{ form.image.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button type="submit" class="site-btn">
                        {% if Delivery.county %}
                            Update Delivery
                        {% else %} 
                            Post Delivery
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-lg-6"></div>
            <div class="col-lg-4">
                <form action="{% url 'searchDelivery' %}" >
                   
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="Deliveryname"  placeholder="search Delivery" 
                                autocomplete="off" required>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">County</th>
                                <th class="shoping__product">Delivery Fee</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for delivery  in deliveries %}
                            <tr>
                                <td class="shoping__cart__item">
                                    <h5>{{delivery.county}}</h5>
                                </td>
                                 <td class="shoping__cart__item">
                                    <h5>{{delivery.delivery_fee}}</h5>
                                </td>
                                <td class="shoping__cart__item__close">
                                    <a href="/editDelivery/{{delivery.id}}"><i class="fa fa-edit text-success"></i></a>
                                    <a href="/deleteDelivery/{{delivery.id}}"><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                     <div class="product__pagination">

                                        {% if deliveries.has_previous %}
                                            <a href="?page={{ deliveries.previous_page_number }}">
                                                <i class="fa fa-long-arrow-left"></i>
                                            </a>
                                        {% endif %}
                                        
                                        {% for num in deliveries.paginator.page_range %}
                                            {% if deliveries.number == num %}
                                                <a class="active">{{ num }}</a>
                                            {% else %}
                                                <a href="?page={{ num }}">{{ num }}</a>
                                            {% endif %}
                                        {% endfor %}

                                        {% if deliveries.has_next %}
                                            <a href="?page={{ orders.next_page_number }}">
                                                <i class="fa fa-long-arrow-right"></i>
                                            </a>
                                        {% endif %}

                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Form End -->
{% endblock%}