{% extends 'master.html' %}
{% load static %}
{% block content %}
   
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'index' %}">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
  <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="text-secondary">Waiting for payment confirmation...</h5>
                    <h4><span class="badge badge-info"> complete payment prompt on your phone............</span></h4><br>
                     Order submitted successfully <a href="{% url 'clientorder' %}">views orders</a>
                        <p>User debug: {{ user }} - Authenticated: {{ user.is_authenticated }}</p>
                </div>
            </div>
        </div>
 </section>             
 
{% endblock %}