{% extends 'master.html' %}
{% load static %}
{% block content%}
<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    {% if Product.name %}
                    <h2>Update Product</h2>
                    {% else %}
                    <h2>Post Product</h2>
                    {% endif%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                 {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if Product.name %}
        <form  method="post" enctype="multipart/form-data">
            {% else %}
            <form  method="post" enctype="multipart/form-data">
                {% endif %}
           
                {% csrf_token %}

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__input">
                            <p>Category<span>*</span></p>
                        <select name="category">
                            <option value="">select category</option>
                            {% for category in allCategory %}
                            <option value="{{ category.id }}" {% if Product.category.id == category.id %}selected{% endif%}>
                                
                                {{ category.name }}
                            </option>
                            {% endfor %}
                        </select>
                         {% if form.category.errors %}
                                <span class="text-danger">{{ form.category.errors.0 }}</span>
                         {% endif %}
                         </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__input">
                            <p>Product Name<span>*</span></p>
                        <input type="text" placeholder="Product Name" name="name" value="{{Product.name}}" >
                        {% if form.name.errors %}
                                <span class="text-danger">{{ form.name.errors.0 }}</span>
                         {% endif %}
                         </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="checkout__input">
                            <p>Product Description<span>*</span></p>
                        <textarea placeholder="Product Description" name="description" >{{Product.description}}</textarea>
                        {% if form.description.errors %}
                                <span class="text-danger">{{ form.description.errors.0 }}</span>
                         {% endif %}
                         </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="checkout__input">
                            <p>Cost Price<span>*</span></p>
                        <input type="number" placeholder="Cost Price" name="cost_price" value="{{Product.cost_price}}" >
                        {% if form.cost_price.errors %}
                                <span class="text-danger">{{ form.cost_price.errors.0 }}</span>
                         {% endif %}
                         </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="checkout__input">
                            <p>Selling Price<span>*</span></p>
                        <input type="number" placeholder="Price" name="price" value="{{Product.price}}" >
                        {% if form.price.errors %}
                                <span class="text-danger">{{ form.price.errors.0 }}</span>
                         {% endif %}
                         </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="checkout__input">
                            <p>Image<span>*</span></p>
                        <input type="file" placeholder="Image" name="image">
                        {% if form.image.errors %}
                                <span class="text-danger">{{ form.image.errors.0 }}</span>
                         {% endif %}
                         </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__input">
                            <p>Weight<span>*</span></p>
                        <input type="number" placeholder="Weight" name="weight" value="{{Product.weight}}" >
                        {% if form.weight.errors %}
                                <span class="text-danger">{{ form.weight.errors.0 }}</span>
                         {% endif %}
                         </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__input">
                            <p>Stock<span>*</span></p>
                        <input type="number" placeholder="Stock" name="stock" value="{{Product.stock}}">
                        {% if form.stock.errors %}
                                <span class="text-danger">{{ form.stock.errors.0 }}</span>
                         {% endif %}
                         </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-6 col-md-6">
                      <div class="checkout__input">
                            <p>Availability<span>*</span></p>
                        <select name="available" id="">
                            <option value="1" {% if Product.available == True %}selected{% endif %}>Yes</option>
                            <option value="0" {% if Product.available == False %}selected{% endif %}>No</option>
                        </select>
                        {% if form.available.errors %}
                                <span class="text-danger">{{ form.available.errors.0 }}</span>
                         {% endif %}
                         </div>

                    </div>
                    <div class="col-lg-6 col-md-6">

                    </div>
                    <div class="col-lg-12 text-center">
                        {% if Product.name %}
                        <button type="submit" class="site-btn">Update Product</button>
                        {% else %}
                        <button type="submit" class="site-btn">Add Product</button>
                        {% endif %}
                    </div>
                </div>
            </form>
            <form action="{% url 'searchProduct' %}">
                <div class="row mt-5">

                    <div class="col-lg-6"></div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" placeholder="Search Product" name="searchProduct">
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" class="site-btn">Search</button>
                    </div>

                </div>
            </form>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Category</th>
                                    <th class="shoping__product">Image</th>
                                    <th class="shoping__product">Name</th>
                                    <th class="shoping__product">Cost Price</th>
                                    <th class="shoping__product">Price</th>
                                    <th class="shoping__product">Stock</th>
                                    <th class="shoping__product">Status</th>
                                    <th>Action</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for product in allProduct %}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <h5>{{product.category.name}}</h5>
                                    </td>
                                    <td class="shoping__cart__item">

                                        {% load static %}
                                        <img src="{{ product.image.url }}" alt="">



                                    </td>
                                    <td class="shoping__cart__item">
                                        <h5>{{product.name}}</h5>
                                    </td>
                                    <td class="shoping__cart__item">
                                        <h5>Ksh {{product.cost_price}}</h5>
                                    </td>
                                    <td class="shoping__cart__item">
                                        <h5>Ksh {{product.price}}Ksh</h5>
                                    </td>
                                    <td class="shoping__cart__item">
                                        <h5>{{product.stock}}</h5>
                                    </td>
                                    <td class="shoping__cart__item">
                                        {% if product.stock > 0 %}
                                        <h5>In stock</h5>
                                        {% else%}
                                        <h5>Out of Stock</h5>
                                        {%endif%}
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <a href="/editProduct/{{product.id}}"><i
                                                class="fa fa-edit text-success"></i></a><br>
                                        <a href="/deleteProduct/{{product.id}}"><i
                                                class="fa fa-trash text-danger"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <div class="product__pagination">

                                        {% if allProduct.has_previous %}
                                            <a href="?page={{ allProduct.previous_page_number }}">
                                                <i class="fa fa-long-arrow-left"></i>
                                            </a>
                                        {% endif %}
                                        
                                        {% for num in allProduct.paginator.page_range %}
                                            {% if allProduct.number == num %}
                                                <a class="active">{{ num }}</a>
                                            {% else %}
                                                <a href="?page={{ num }}">{{ num }}</a>
                                            {% endif %}
                                        {% endfor %}

                                        {% if allProduct.has_next %}
                                            <a href="?page={{ orders.next_page_number }}">
                                                <i class="fa fa-long-arrow-right"></i>
                                            </a>
                                        {% endif %}

                            </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- Contact Form End -->

{% endblock %}